<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AmazonProject.AmazonProject1.TestCase5_AmazonSearchingTheProduct"/>
      <class name="AmazonProject.AmazonProject1.TestCase4_AmazonEditProfile"/>
      <class name="AmazonProject.AmazonProject1.TestCase2_LoginToAmazonWithValidEmailPassword"/>
      <class name="AmazonProject.AmazonProject1.TestCase7_AmazonProductDetails"/>
      <class name="AmazonProject.AmazonProject1.TestCase8_AmazonProductSorting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
